/* .abc {
    font-size: 1.5em;
    text-align: center;
    color: palevioletred;
    margin-top: 200px
} */

#mss3 * { box-sizing: border-box; } 

.mpsa {
        scroll-behavior: 
        smooth;display: 
        flex;flex-wrap: 
        nowrap;max-width: 
        100%;overflow-x: 
        auto;overflow-y: 
        hidden;padding:
        15px;height: auto
} 

#mss3::-webkit-scrollbar {width: 0;height: 0} 

#mss3 .msmd::after { 
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 230px;
        width: 100px;
        background: linear-gradient(to right,#e6e6e6, rgba(255,255,255,0.5), #e6e6e6);
        overflow: hidden;
        animation: shimmer 1.5s ease infinite;
} 

@keyframes shimmer { 0% {left: -150px} 100%{left: 150px}} 

#mss3 .msmd { 
        position: relative;
        margin: 0 13px 0 0;
        min-width: 173px;
        cursor: pointer;
        height: 230px;
        width: 173px;
        border-radius: 15px;
        background: #e6e6e6;
        overflow: hidden
}
